*{
    margin: 0;padding: 0;
    box-sizing: border-box;
    transition: all 0.5s cubic-bezier(.22,.76,.01,1.28);
}
.box-container{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 0;
    background: #ddd;
}
.box-container .box{
    width: 270px;
    margin: 10px 5px;
    cursor: pointer;
    text-align: center;
}
.box-container .box img{
    width: 100%;
    opacity: .5;
}
.box-container .box:hover img {
    opacity: 1;
    transform: scale(1.2);
}
.box-container .box button{
    height: 40px;
    width: 140px;
    font-size: 20px;
    color: #fff;
    background: #548CA8;
    border-radius: 50px;
    outline: none;
    border: none;
    cursor: pointer;
    text-transform: capitalize;
    transform: translateY(-50px);
    opacity: 0;
}
.box-container .box button:hover{
    letter-spacing: 2px;
}
.box-container .box:hover button{
    transform: translateY(45px);
    opacity: 1;
}
.theme-togler{
    position: fixed;
    top: 15px;
    right: 15px;
    border-radius: 50px;
    background-color: #fff;
    border: 2px solid #548CA8;
    z-index: 1000;
}
.theme-togler i{
    color: #333;
    margin: 8px 25px ;
    font-size: 30px;
    cursor: pointer;
}
.theme-togler i.active{
    color: #548CA8;
    transform: rotate(360deg);

}
