@import url("https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  background: #000;
}

.diller {
  display: flex;
  justify-content: center;
  text-align: center;
  padding-top: 100px;
  flex-direction: column;
}
.sevgii,
.sevgi {
  padding-top: 20px;
  color: #fff;
}
.fa-heart {
  color: red;
  font-size: 10rem;
  padding-top: 30px;
}
